.item-card__image-container {
    width: 500px;
    display: inline-block;
}

.item-card__image {
    margin-top: 10%;
    width: 100%;
}

.item-card__info-container {
    display: inline-block;
    width: calc(90% - 500px);
    margin-left: 5%;
}

.item-card__page-container {
    display: flex;
    align-items: center;
    height: calc(100vh - 55px);
}

.item-card__info-header {
    font-size: 5vh;
}

.item-card__info-description {
    font-size: 3vh;
}
