<div class="item-view__background">
    <div class="item-card__page-container">
        <div class="item-view__left-container">
            <p class="item-card__info-header bold">
                {{ item.name }}
            </p>

            <img [src]="imagePath" class="item-card__image" />

            <p class="item-card__info-header"><span class="bold">Price: </span>{{ item.price }} RON</p>

            <ng-container *ngIf="authenticationService.checkIfUserIsLoggedIn()">
                <div class="item-card_add-to-cart-button" (click)="addToCart()">Add to cart</div>
            </ng-container>
        </div>

        <div class="item-view__right-container">
            <div class="item-view__stars-container">
                <app-rating-stars [rating]="item.rating.toString()"></app-rating-stars>
            </div>

            <ng-container *ngIf="item.isStock; else notInStock">
                <div class="item-view__stock-container"><mat-icon>check_circle</mat-icon> In stock</div>
            </ng-container>

            <ng-template #notInStock>
                <div class="item-view__stock-container"><mat-icon>remove_circle</mat-icon> Not in stock</div>
            </ng-template>

            <span class="item-view__description-title bold">Description: </span>

            <div class="item-view__description-area">{{ item.description }}</div>
        </div>
    </div>
</div>
