.item-card__page-container {
    width: calc(100% - 300px);
    background-color: white;
    height: inherit;
    margin: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.item-card__image {
    height: 400px;
    width: auto;
    margin-left: 0%;
}

.item-view__background {
    height: calc(100vh - 55px);
    width: 100%;
    background-image: url('../../../../../assets/cartbackground.jpg');
}

.item-view__left-container {
    text-align: center;
    float: left;
    width: 50%;
    height: 100%;
}

.item-view__right-container {
    float: right;
    width: 50%;
    height: 100%;
}

.item-card__info-header {
    text-align: center;
    font-size: 30px;
    margin: 30px 15px 10px 30px;
}

img {
    width: calc(100% - 200px);
    margin-left: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.item-card_add-to-cart-button {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: fit-content;
    margin: auto;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
}

.item-card_add-to-cart-button:hover {
    color: white;
    background-color: black;
}

.item-view__title-text {
    font-weight: normal;
}

.item-view__stock-container {
    width: fit-content;
    margin: auto;
    font-size: 20px;
}

.item-view__description-area {
    font-size: 18px;
    height: 200px;
    overflow-y: auto;
    margin: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding: 10px;
}

.item-view__description-title {
    font-size: 25px;
    margin-left: 20px;
}

.item-view__stars-container {
    // margin: auto;
    // width: fit-content;
}
