<div class="cart-item__wrapper">
    <div class="cart-item__image">
        <img
            src="https://res.cloudinary.com/dk-find-out/image/upload/q_80,w_1920,f_auto/DCTM_Penguin_UK_DK_AL1007936_rt_q2qwiw.jpg"
        />
    </div>

    <div class="cart-item__quantity-wrapper">
        <div class="cart-item__quantity-buton">-</div>

        <p class="cart-item__quantity-text">4</p>

        <div class="cart-item__quantity-buton">+</div>
    </div>

    <div class="cart-item__info-area">
        <p class="cart-item__name">Music Alley MA34-N Classical Junior</p>

        <p>100$</p>
    </div>
</div>
