<div class="home-view__page-container">
    <div data-aos="fade-left" class="home-view__card home-view__first-card">
        <div class="home-view__card-text-wrapper">
            <p class="home-view__card-text">Welcome to Musify Shop!</p>
        </div>
    </div>

    <div data-aos="fade-right" class="home-view__card home-view__second-card">
        <div class="home-view__card-text-wrapper">
            <p class="home-view__card-text">You can browse through our high variety of musical instruments.</p>
        </div>
    </div>

    <div data-aos="fade-left" class="home-view__card home-view__third-card">
        <div class="home-view__card-text-wrapper">
            <p class="home-view__card-text">Happy shopping!</p>
        </div>
    </div>
</div>
