<div class="home-view__page-container">
    <div data-aos="fade-left" class="home-view__card home-view__first-card">
        <div class="home-view__card-text-wrapper">
            <p class="home-view__card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula elit eget venenatis faucibus.
                Morbi gravida mollis justo, eu hendrerit metus ultricies vitae. Proin ac leo id lorem luctus rhoncus
                molestie molestie lacus. Donec et laoreet neque. Etiam luctus diam quam, quis scelerisque dolor
                condimentum ac.
            </p>
        </div>
    </div>

    <div data-aos="fade-right" class="home-view__card home-view__second-card">
        <div class="home-view__card-text-wrapper">
            <p class="home-view__card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula elit eget venenatis faucibus.
                Morbi gravida mollis justo, eu hendrerit metus ultricies vitae. Proin ac leo id lorem luctus rhoncus
                molestie molestie lacus. Donec et laoreet neque. Etiam luctus diam quam, quis scelerisque dolor
                condimentum ac.
            </p>
        </div>
    </div>

    <div data-aos="fade-left" class="home-view__card home-view__third-card">
        <div class="home-view__card-text-wrapper">
            <p class="home-view__card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula elit eget venenatis faucibus.
                Morbi gravida mollis justo, eu hendrerit metus ultricies vitae. Proin ac leo id lorem luctus rhoncus
                molestie molestie lacus. Donec et laoreet neque. Etiam luctus diam quam, quis scelerisque dolor
                condimentum ac.
            </p>
        </div>
    </div>
</div>
