<div class="change-password__form-wrapper">
    <form [formGroup]="changePasswordForm">
        <div>
            <mat-form-field appearance="standard" floatLabel="always" class="login__form-field">
                <mat-label>New Password</mat-label>

                <input (keyup)="checkPasswords()" type="password" matInput formControlName="newPassword" />
            </mat-form-field>

            <mat-icon matTooltip="Minimum of 6 characters required" matTooltipPosition="after" matTooltipHideDelay="100"
                >flag</mat-icon
            >
        </div>

        <div>
            <mat-form-field #confirmPasswordField appearance="standard" floatLabel="always" class="login__form-field">
                <mat-label>Confirm Password</mat-label>

                <input (keyup)="checkPasswords()" type="password" matInput formControlName="confirmPassword" />
            </mat-form-field>

            <mat-icon matTooltip="Minimum of 6 characters required" matTooltipPosition="after" matTooltipHideDelay="100"
                >flag</mat-icon
            >
        </div>

        <ng-container *ngIf="changePasswordForm.valid; else invalidForm">
            <button class="musify-button" (click)="changePassword()">Submit</button>
        </ng-container>

        <ng-template #invalidForm>
            <button class="musify-button musify-button--disabled" [disabled]="true">Submit</button>
        </ng-template>
    </form>
</div>
