.navbar__container {
    height: 55px;
    width: 100%;
    background-color: black;
}

.navbar__text-container {
    text-align: center;
    line-height: 55px;
    p {
        user-select: none;
        cursor: pointer;
        font-size: 25px;
        color: rgba(255, 255, 255, 0.774);
        display: inline-block;
        margin-right: 3%;
        margin-top: 0%;
        margin-bottom: 0;
    }
    p:hover {
        transform: scale(1.5);
        color: white;
    }
}

.navbar__log-in-text {
    float: right;
}

.navbar__logo {
    height: 55px;
    width: 85px;
    float: left;
}
