@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Script&display=swap');

html,
body {
    height: 100%;
    font-family: 'Dancing Script';
    user-select: none;
}
body {
    margin: 0;
    font-family: 'Dancing Script';
}
