@import url('https://fonts.googleapis.com/css2?family=Gwendolyn&display=swap');

/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    font-family: 'Gwendolyn';
    user-select: none;
}
body {
    margin: 0;
    font-family: 'Gwendolyn';
}
