.cart__empty-message {
    font-size: 6rem;
    text-align: center;
}

.cart__back-message {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.cart__shop-button {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 5px 50px 5px 50px;
    font-size: 3rem;
    margin: auto;
    margin-bottom: 2rem;
    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cart__shop-button:hover {
    background-color: white;
    color: black;
}

.cart__empty-wrapper {
    background-color: white;
    margin: auto;
    width: fit-content;
    padding: 3rem 10rem;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cart__background-wrapper {
    background-image: url('../../../../assets/cartbackground.jpg');
    width: 100%;
    height: calc(100vh - 55px) !important;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.cart__items-wrapper {
    background-color: white;
    height: 80vh;
    width: 90%;
    margin: auto;
    display: inline-block;
    overflow: auto;

    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.cart-item__total {
    width: 94%;
    height: 10rem;
    display: table;
    overflow: hidden;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.cart-item__total:hover {
    color: white;
    background-color: black;
}

.cart-item__total-text-wrapper {
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
}

.cart-item__text {
    width: fit-content;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
}

.cart-item__text--right {
    float: right;
}
