<div class="cart__background-wrapper">
    <ng-container *ngIf="isCartEmpty; else cartNotEmpty">
        <div class="cart__empty-wrapper">
            <p class="cart__empty-message">Your cart is empty :(</p>

            <p class="cart__back-message">Get back to shopping</p>

            <div class="cart__shop-button">Go back</div>
        </div>
    </ng-container>
    <ng-template #cartNotEmpty>
        <div class="cart__items-wrapper">
            <ng-container *ngFor="let item of cartService.cartArray">
                <app-cart-item [item]="item"></app-cart-item>
            </ng-container>
        </div>
    </ng-template>
</div>
