.info__profile-picture {
    height: 100px;
    width: auto;
    margin-top: 40px;
}

.info__wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
}

.info__profile-name {
    margin-top: 5px;
    font-size: 25px;
}
