<div class="profile__background-wrapper">
    <div class="profile__info-wrapper">
        <mat-tab-group mat-align-tabs="center">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>account_box</mat-icon>
                    Account Info
                </ng-template>
                <app-account-info-content></app-account-info-content>
            </mat-tab>

            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon>settings</mat-icon>
                    Settings
                </ng-template>
                <app-change-password-content></app-change-password-content>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
