<div class="shop-sidenav__container">
    <p class="shop-sidenav__filter-title">Filters:</p>

    <p class="shop-sidenav__filter-text">Starting Price: {{ currentPrice }}</p>

    <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="250"
        step="250"
        min="0"
        max="10000"
        aria-label="units"
        (input)="updatePrice($event.value)"
    ></mat-slider>

    <!-- <div class="shop-sidenav__filter-list-container">
        <ng-container *ngFor="let item of itemTypes">
            <div class="shop-sidenav__filter-list-item">
                <mat-checkbox>{{ item }}</mat-checkbox>
            </div>
        </ng-container>
    </div> -->

    <section class="example-section">
        <span class="example-list-section">
            <mat-checkbox
                class="example-margin"
                [checked]="allComplete"
                [indeterminate]="someComplete()"
                (change)="setAll($event.checked)"
            >
                {{ filter.name }}
            </mat-checkbox>
        </span>
        <span class="example-list-section">
            <ul>
                <li *ngFor="let subtask of filter.subtasks">
                    <mat-checkbox [(ngModel)]="subtask.completed" (ngModelChange)="updateAllComplete()">
                        {{ subtask.name }}
                    </mat-checkbox>
                </li>
            </ul>
        </span>
    </section>
</div>
