<div class="shop-sidenav__container">
    <p class="shop-sidenav__filter-title">Filters:</p>

    <p class="shop-sidenav__filter-text">Starting Price: {{ currentPrice }}</p>

    <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        tickInterval="250"
        step="250"
        min="0"
        max="10000"
        aria-label="units"
        (input)="updatePrice($event.value)"
    ></mat-slider>

    <div>
        <mat-checkbox [checked]="allComplete" [indeterminate]="someComplete()" (change)="setAll($event.checked)">
            {{ filter.name }}
        </mat-checkbox>

        <ng-container *ngFor="let subtask of filter.subtasks">
            <mat-checkbox [(ngModel)]="subtask.completed" (ngModelChange)="updateAllComplete()">
                {{ subtask.name }}
            </mat-checkbox>
        </ng-container>
    </div>
</div>
